// setting variables

//colors 
$white: #FAFAFA;
$cyan-300: #8FE3F9;
$cyan-600: #4D96A9;
$cyan-opacity-600: #4d97a9de;
$cyan-hover-300: #71c0d4;
$purple-300: #D9B8FF;
$purple-600: #855FB1;
$purple-hover-300: #b188dd;
$slate-300: #D1D1DF;
$slate-600: #87879D;
$slate-900: #28283D;

// spacing
$s-50: 0.25rem;
$s-100: 0.5rem;
$s-200: 1rem;
$s-300: 1.5rem;
$s-400: 2rem;
$s-500: 2.5rem;
$s-700: 3.5rem;
$s-800: 4rem;
$s-900: 4.5rem;
$s-1000: 5rem;
$s-1400: 7rem;

// font family
$ff-rhd: 'Red Hat Display', sans-serif;

// font sizes
$fs-50: 0.75rem;
$fs-100: 1rem;
$fs-200: 1.125rem;
$fs-300: 2rem;
$fs-400: 2.5rem;
$fs-500: 4rem;

// font weights
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

// line heights
$lh-100: 1.1;
$lh-500: 1.5;

//letter spacing
$ls-400: 0.25rem;

