body{
  header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: clamp(76px, 10vw, 108px);
  }
  .hero{
    background: url('../assets/tablet/image-hero.png') no-repeat center center/cover;
    margin-left: -1.5rem;
    width: calc(100% + 2.5rem);
    aspect-ratio: 2.7/1;
    margin-block: $s-900;
  }
  main{

    img{
      width: 100px;
    }
  }
}