// simple reset
*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting global styles
body{
  font-family: $ff-rhd;
  line-height: $lh-100;
  color: $slate-900;
  background-color: $white;
  min-height: 100vh;
}