// simple reset
*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting global styles
body{
  // font-family: $ff-rhd;
  font-size: 32px;
  line-height: 1.1;
  color: $cyan-600;
  background-color: black;
  min-height: 100vh;
}